*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: linear-gradient(45deg, #157d4d, #3498db);
    color: #1f1d1d;
   
}

.clock-container{
    text-align: center;
    padding: 20px;
    border: 3px solid rgba(204, 39, 39, 0.6);
    border-radius: 15px;
    background-color: rgba(25, 136, 126, 0.3);
    box-shadow: 0 40px 40px rgba(17, 6, 6, 0.2);
}



#clock{
    font-size: 4rem;
}

@media (max-width: 768px){
    #clock{
        font-size: 3rem;
    }
}
@media(max-width:480px){
    #clock{
        font-size: 2.5rem;
    }
}



